* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.u-section-1 .u-sheet-1 {
  min-height: 500px;
}

 .u-section-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.25), rgba(0,0,0,0.25)), url("../4M/images/FONDOS/WeDO.png");
  background-position: 50% 50%;
  min-height: 1023px;
}
 .u-section-2 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.25), rgba(0,0,0,0.25)), url("../4M/images/FONDOS/piramideastro.png");
  background-position: 50% 50%;
  min-height: 1023px;
}
 .u-section-3 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.25), rgba(0,0,0,0.25)), url("../4M/images/FONDOS/auroestrella.png");
  background-position: 50% 50%;
  min-height: 1023px;
}

.u-section-5 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.25), rgba(0,0,0,0.25)), url("../4M/images/FONDOS/auroestrella.png");
  background-position: 50% 50%;
  min-height: 2523px;
}

.logo{
  text-align: center;
}

#padre{
  text-align:center;
    
}
#hijo{
  height:50px;
    width:700px;
     margin:0px auto;
}

.u-section-2 #caja {
	width: 200px;
	height: 25px;
	border: 1px solid #C0C0C0;
  align-items: center;
}

.u-section-1 .u-container-layout-1 {
  padding: 0 30px;
}

.u-section-1 .u-layout-cell-2 {
  min-height: 400px;
}

.u-section-1 .u-container-layout-2 {
  padding: 30px;
}

.u-section-1 .u-text-1 {
  margin: 0 auto;
}

.u-section-1 .u-text-2 {
  margin: 20px 0 0;
  text-align: center;
  color: aliceblue;
  font-size: 120px;
  font-weight:bold;
}
.u-section-1 .u-text-3 {
  margin: 20px 0 0;
  text-align: center;
  color: aliceblue;
  font-size: 50px;
}
.u-section-1 .u-text-4 {
  margin: 20px 0 0;
  text-align: justify;
  color: aliceblue;
  font-size: 30px; 
}
.u-section-5 .u-text-5 {
  margin: 20px 150px 0;
  float: left;
	line-height: 25px;
  color: rgb(255, 255, 255);
  font-size: 40px;
}
.u-section-5 .u-text-6 {
  margin: 20px 150px 0;
  float: left;
	line-height: 25px;
  color: rgb(255, 255, 255);
  font-size: 15px;
}
.u-section-2 .u-text-7 {
  margin: 20px 150px 0;
  float: left;
	line-height: 25px;
  color: rgb(255, 255, 255);
  font-size: 35px;
}
.u-section-2 .u-text-8 {
  margin: 20px 150px 0;
  float: left;
	line-height: 25px;
  color: rgb(255, 255, 255);
  font-size: 35px;
}
.u-section-3 .u-text-1 {
  margin: 20px 0 0;
  text-align: center;
  color: rgb(0, 0, 0);
  font-size: 12px;
  font-weight:bold;
}
.u-section-3 .u-text-2 {
  margin: 20px 0 0;
  text-align: center;
  color: rgb(0, 0, 0);
  font-size: 12px;
  font-weight:bold;
}
.u-section-3 .u-text-3 {
  margin: 20px 0 0;
  text-align: center;
  color: rgb(0, 0, 0);
  font-size: 12px;
  font-weight:bold;
}
.u-section-3 .u-text-4 {
  margin: 20px 0 0;
  text-align: center;
  color: rgb(0, 0, 0);
  font-size: 12px;
  font-weight:bold;
}
.u-section-3 .u-text-5 {
  margin: 20px 0 0;
  text-align: center;
  color: rgb(0, 0, 0);
  font-size: 12px;
  font-weight:bold;
}
.u-section-3 .u-text-6 {
  margin: 20px 0 0;
  text-align: center;
  color: rgb(0, 0, 0);
  font-size: 12px;
  font-weight:bold;
}
.u-section-4 .u-text-7 {
  margin: 20px 0 0;
  color: rgb(3, 3, 3);
  font-size: 10px; 
  text-align: left; 
}
.u-section-4 .u-text-8 {
  margin: 20px 0 0;
  color: rgb(3, 3, 3);
  font-size: 10px;
  text-align: left; 
}
.u-section-4 .u-text-9 {
  margin: 20px 0 0;
  color: rgb(3, 3, 3);
  font-size: 10px;
  text-align: left; 
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 430px;
  }

  .u-section-1 .u-image-1 {
    min-height: 330px;
    
  }
 .u-section-2 .u-image-2 {
    min-height: 330px;
    object-fit: cover;
  }
   .u-section-2 .u-image-3 {
    min-height: 330px;
    margin: -181px 0 0 auto;
    object-fit: contain;
    
  }
  .u-section-2 .u-image-4 {
    width:20px;
    height:40px;
    
  }
  
  .u-section-1 .u-layout-cell-2 {
    min-height: 330px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 353px;
  }

  .u-section-1 .u-image-1 {
    min-height: 253px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 100px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 580px;
  }

  .u-section-1 .u-image-1 {
    min-height: 380px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 439px;
  }

  .u-section-1 .u-image-1 {
    min-height: 239px;
  }

  .u-section-2 .u-sheet-1 {
  min-height: 800px;
}

.u-section-2 .u-text-1 {
  font-size: 6rem;
  font-weight: 700;
  margin: 60px auto 0;
}

.u-section-2 .u-text-2 {
  margin: 30px auto 0;
}

.u-section-2 .u-btn-1 {
  background-image: none;
  text-transform: uppercase;
  font-weight: 700;
  margin: 40px auto 60px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 660px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 506px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 380px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 239px;
  }

  .u-section-2 .u-text-1 {
    font-size: 3.75rem;
  }
}
}

body {
  font-family: "Lato", sans-serif;
  transition: background-color .5s;
}

.sidenav {
  height: 100%;
  width: 0;
	display: flex;
  position: absolute;
  align-items: flex-start;
  z-index: 1;
  top: 0;
  right: 0;
  background-color: rgb(255, 255, 255);
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;

}

.sidenav a {
  /* padding: 8px 8px 8px 32px; */
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

/* .align-reel-button{
	padding: 20px;
} */

.sidenav a:hover {
  color: #000000;
}

.hovering{
	border: 20px solid red;
}
/* .sidenav a:hover::after{
	content: url("https://www.industrialempathy.com/img/remote/ZiClJf-1920w.jpg");
	display: block;
} */

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-right: 50px;
}

.nav-action-container{
	height: 100%;
	width: 30%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-evenly;
}

.nav-image-container{
	height: 100%;
	width: 80%;
	display: flex;
	align-items: center;
	justify-content: center;
}

.show-image{
	display: block !important;
}

.menu-image{
	height: 70%;
	width: 70%;
	display: none;
}
#main {
  transition: margin-right .5s;
  padding: 16px;
  right: 30px;
  
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}

.button-wrapper {
	display: flex;
}

.accordion-button{
  color: #ffffff;
  cursor: pointer;
  padding: 18px;
  width: 7%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 25px;
  transition: 0.4s;
}


.align-content{
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	padding: 50px;
}

.rotate-content{
transform: rotate(-90deg);
  -webkit-transform: rotate(-90deg);
  -moz-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  -o-transform: rotate(-90deg);
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
}

.slide-menu-image{
	height: 75px;
	width: 75px;
	/* height: 15px; */
}


.active, .accordion-button:hover {
  background-color: #ccc;
}
.active, .accordion2:hover {
  background-color: #ccc;
}
.active, .accordion3:hover {
  background-color: #ccc;
}
.active, .accordion4:hover {
  background-color: #ccc;
}
.active, .accordion5:hover {
  background-color: #ccc;
}
.active, .accordion6:hover {
  background-color: #ccc;
}
.accordion1:after {
  content: '\002B';
  color: #777;
  font-weight: bold;
  float: right;
  margin-left: 5px;
}
.accordion2:after {
  content: '\002B';
  color: #777;
  font-weight: bold;
  float: right;
  margin-left: 5px;
}
.accordion3:after {
  content: '\002B';
  color: #777;
  font-weight: bold;
  float: right;
  margin-left: 5px;
}
.accordion4:after {
  content: '\002B';
  color: #777;
  font-weight: bold;
  float: right;
  margin-left: 5px;
}
.accordion5:after {
  content: '\002B';
  color: #777;
  font-weight: bold;
  float: right;
  margin-left: 5px;
}
.accordion6:after {
  content: '\002B';
  color: #777;
  font-weight: bold;
  float: right;
  margin-left: 5px;
}
/* .active:after {
  content: "\2212";
} */
.panel {
  display: none;
  background-color: white;
	color: black;
  overflow: hidden;
	margin-bottom: 0px !important;
}
#myBtn {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  font-size: 18px;
  border: none;
  outline: none;
  background-color: rgba(255, 0, 0, 0);
  color: white;
  cursor: pointer;
  padding: 15px;
  border-radius: 4px;
}

#myBtn:hover {
  background-color: rgba(85, 85, 85, 0);
}
.star {
  animation: star 10s ease-out infinite;
}
.wars {
  animation: wars 10s ease-out infinite;
}
.byline span {
  animation: spin-letters 10s linear infinite;
}
.byline {
  animation: move-byline 10s linear infinite;
}

/* Keyframes */
@keyframes star {
  0% {
    opacity: 0;
    transform: scale(1.5) translateY(-0.75em);
  }
  20% {
    opacity: 1;
  }
  89% {
    opacity: 1;
    transform: scale(1);
  }
  100% {
    opacity: 0;
    transform: translateZ(-1000em);
  }
}

@keyframes wars {
  0% {
    opacity: 0;
    transform: scale(1.5) translateY(0.5em);
  }
  20% {
    opacity: 1;
  }
  90% {
    opacity: 1;
    transform: scale(1);
  }
  100% {
    opacity: 0;
    transform: translateZ(-1000em);
  }
}

@keyframes spin-letters {
  0%, 10% {
    opacity: 0;
    transform: rotateY(90deg);
  }
  30% {
    opacity: 1;
  }
  70%, 86% {
    transform: rotateY(0);
    opacity: 1;
  }
  95%, 100% {
    opacity: 0;
  }
}

@keyframes move-byline {
  0% {
    transform: translateZ(5em);
  }
  100% {
    transform: translateZ(0);
  }
}

/* Make the 3D work on the container */
.starwars-demo {
  perspective: 800px;
  transform-style: preserve3d;
}

/* General styles and layout */

.starwars-demo {
  height: 17em;
  left: 50%;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 34em;
}

.byline span {
  display: inline-block;
}


.star, .wars, .byline {
  position: absolute;
}

.star {
  top: -0.75em;
}

.wars {
  bottom: -0.5em;
}

.byline {
  color: #fff;
  font-family: "ITC Serif Gothic", Lato;
  font-size: 2.25em;
  left: -2em;
  letter-spacing: 0.4em;
  right: -2em;
  text-align: center;
  text-transform: uppercase;
  top: 29%;
}

/*** Media queries for adjusting to different screen sizes ***/

@media only screen and (max-width: 600px) {
  .starwars-demo {
    font-size: 10px;
  }
}

@media only screen and (max-width: 480px) {
  .starwars-demo {
    font-size: 7px;
  }
}